[submodule "Exenn/vendor/spdlog"]
	path = Exenn/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Exenn/vendor/GLFW"]
	path = Exenn/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
